.example-spacer {
  flex: 1 1 auto;
}

button {
  border-style: none;
}

.example-form-field {
  width: 200px;
  font-size: 16px;
}

.example_button {
  font-size: 10px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: transparent;
}

.mattoolbar a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.header {
  position: sticky;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: transparent;
}
