<header class="header" *ngIf="session">
  <mat-toolbar class="mattoolbar">
    <span class="example-spacer"></span>

    <a mat-button>INICIO</a>
    <a mat-button>PELICULAS FAVORITAS</a>
    <!-- <mat-form-field class="example-form-field">
      <mat-label>Buscar Pelicula</mat-label>
      <input
        matInput
        type="text"
        #movieSearch
        (keyup.enter)="SearchMovie(movieSearch.value)"
      />
      <button
        class="example_button"
        (click)="SearchMovie(movieSearch.value)"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="send"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field> -->
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button> -->
  </mat-toolbar>
</header>

<header class="header" *ngIf="!onsession && !session">
  <mat-toolbar class="mattoolbar">
    <span class="example-spacer"></span>
    <a mat-button>REGISTRARSE</a>
    <!-- <mat-form-field class="example-form-field">
      <mat-label>Buscar Pelicula</mat-label>
      <input
        matInput
        type="text"
        #movieSearch
        (keyup.enter)="SearchMovie(movieSearch.value)"
      />
      <button
        class="example_button"
        (click)="SearchMovie(movieSearch.value)"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="send"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field> -->
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button> -->
  </mat-toolbar>
</header>
