<header class="header" *ngIf="!onsession && session">
  <mat-toolbar class="mattoolbar">
    <span class="example-spacer"></span>

    <a mat-button (click)="navegar('home')">INICIO</a>
    <button mat-button (click)="navegar('movief')">PELICULAS FAVORITAS</button>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesion</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>

<header class="header" *ngIf="!onsession && !session">
  <mat-toolbar class="mattoolbar">
    <span class="example-spacer"></span>
    <a mat-button (click)="openDialog()">REGISTRARSE</a>
  </mat-toolbar>
</header>
