.hero-image {
  background-image: url(../../../assets/images/fondo-principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 2.5rem;
}

.mat-form-field {
  width: 70%;
}
.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login .mat-raised-button {
  background-color: var(--color-secundary);
}
.mat-input-element {
  color: #ffffff;
}
