:root {
  --color-primary: #121212;
  --color-secundary: #007dff;
  --color-third: #3f91d6;
  --text-color-primary: #ffffff;
  --text-color-secundary: #000000;
  --text-color-third: rgba(255, 255, 255, 0.7);

  --font: "Open Sans", sans-serif;
  --max-width: 1600px;
  --header-height: 4rem;
  --hero-opacity-color: rgba(0, 0, 0, 0.5);
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: var(--max-width);
  color: var(--text-color-primary);
  background-color: var(--color-primary);
}

a {
  color: var(--text-color-primary);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.55;
  color: var(--text-color-primary);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.mat-form-field {
  width: 100%;
}
.mat-form-field-infix {
  color: #fff;
}

.mat-input-element {
  caret-color: #000;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  border-style: none;
}

.example-form-field {
  width: 200px;
  font-size: 16px;
}

.example_button {
  font-size: 10px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: transparent;
}

.mattoolbar a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.header {
  position: sticky;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: transparent;
}
